
Good_news_Blog/.vs/

Good_news_Blog/Good_news_Blog/bin/

Good_news_Blog/Good_news_Blog/obj/

Good_news_Blog/Core/bin/

Good_news_Blog/Core/obj/

Good_news_Blog/Good_news_Blog.Data/bin/

Good_news_Blog/Good_news_Blog.Data/obj/

Good_news_Blog/Good_news_Blog.Repositories/bin/

Good_news_Blog/Good_news_Blog.Repositories/obj/

Good_news_Blog/ParserNewsFromOnliner/bin/

Good_news_Blog/ParserNewsFromOnliner/obj/

Good_news_Blog/ParserNewsFromS13/bin/

Good_news_Blog/ParserNewsFromS13/obj/

Good_news_Blog/Good_news_Blog.EmailService/bin/

Good_news_Blog/Good_news_Blog.EmailService/obj/

Good_news_Blog/Good_news_Blog.WebAPI/obj/

Good_news_Blog/ParserNewsFromTutBy/obj/

Good_news_Blog/Good_news_Blog.WebAPI/bin/

Good_news_Blog/CQS_MediatR/bin/

Good_news_Blog/CQS_MediatR/obj/

Good_news_Blog/ParseNewsFromTutByUsingCQS/bin/

Good_news_Blog/ParseNewsFromTutByUsingCQS/obj/

Good_news_Blog/ParserNewsFromOnlinerUsingCQS/bin/

Good_news_Blog/ParserNewsFromOnlinerUsingCQS/obj/

Good_news_Blog/ParserNewsFromS13UsingCQS/bin/

Good_news_Blog/ParserNewsFromS13UsingCQS/obj/

Good_news_Blog/ParserAllNewsService/bin/

Good_news_Blog/ParserAllNewsService/obj/

Good_news_Blog/Good_news_Blog.WebAPI/logs/
