@{
    ViewData["Title"] = "Home Page";
}

    <div class="media-left">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li role="presentation"><a asp-area="" asp-controller="News" asp-action="AddNews">Add News</a></li>
        </ul>        
    </div>
