@model Good_news_Blog.Data.News
@{
    ViewData["Title"] = Model.Title;
}

<div class="card" style="margin: 15px;">
    <img src="~/images/fon.jpg" class="card-img-top" width="1110" height="500" alt="image">
    <div class="card-body">
        <div class="row">
            <h3 class="card-title col-md-9">@Model.Title</h3>
            <span class="glyphicon glyphicon-star col-md-3 " style="font-size: 20px; margin-top:15px"> @Model.IndexOfPositive</span>
        </div>
        <p class="card-text" style="width:1100px;">@Model.Text</p>
        <p class="card-text">Source: @Model.Source</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
</div>

<form class="col" style="margin: 15px;">
    <span class="badge badge-secondary" style="margin:15px; font-size:30px;">Comments</span>
    <textarea class="form-control" name="textComment" rows="6" style="resize: none" placeholder="Write your comment here..."></textarea>
    <div class="form-group" style="margin: 10px;">
        <div class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-paperclip col-md-1" style="font-size:25px;"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Add Photo</a>
                <li><a href="#">Add Video</a></li>
                <li><a href="#">Add Document</a></li>
            </ul>
        </div>       
        <button type="submit" class="btn btn-primary col-md-offset-10" style="font-size: 20px;">Send</button>
    </div>
</form>


