@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>

@{
    ViewData["Title"] = "Список пользователей";
}

<div class="form-inline">
    <a asp-action="Create" class="btn btn-primary">Добавить пользователя</a>
</div>

<div class="container">
    <table class="table">
        <tr><th class="border-top-0">Email</th><th class="border-top-0"></th></tr>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>
                    <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                        <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@user.Id">Изменить</a>
                        <button type="submit" class="btn btn-sm btn-danger">
                            Удалить
                        </button>
                    </form>
                </td>
            </tr>
        }
    </table>
</div>


