@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Подтверждение email";
}

<h1>@ViewData["Title"]</h1>
<div>
    <p>
        Спасибо за подтверждение вашего email!
    </p>
</div>
