@model Good_news_Blog.Data.News
@{
    ViewData["Title"] = "AddNews";
}

<h2>Add News</h2>

<form method="post" action="AddNews" class="nav nav-stacked">
    <ul class="nav nav-stacked">
        <li class="col-lg-2">
            <label>Input Title</label>
            <input asp-for="Title" type="text" size="80" />
        </li>

        <li class="col-lg-2">
            <label>Input Text</label>
            <textarea asp-for="Text" cols="80" rows="6" style="resize: none"></textarea>
        </li>

        <li class=" col-lg-2">
            <label>Input Source</label>
            <input asp-for="Source" type="text" size="80" />
        </li>

        <li class="col-lg-2">
            <label>Input Date</label>
            <input asp-for="DatePublication" type="datetime" size="80" />
        </li>

        <li class="col-lg-2">
            <label>Input Index of Positive</label>
            <input asp-for="IndexOfPositive" type="number" size="80" />
        </li>
    </ul>
    <br />
    <button type="submit" class="btn-lg">Add News</button>
</form>

