
@{
    ViewData["Title"] = "AddNews";
}

<h2>Add News</h2>

<form method="post" action="SaveNews" class="nav nav-stacked">
    <ul class="nav nav-stacked">
        <li class="col-lg-2">
            <label>Input Title</label>
            <input type="text" name="title" size="80" />
        </li>

        <li class="col-lg-2">
            <label>Input Text</label>
            <textarea name="text" cols="80" rows="6" style="resize: none"></textarea>
        </li>

        <li class=" col-lg-2">
            <label>Input Source</label>
            <input type="text" name="source" size="80" />
        </li>

        <li class="col-lg-2">
            <label>Input Date</label>
            <input type="datetime" name="date" size="80" />
        </li>

        <li class="col-lg-2">
            <label>Input Index of Positive</label>
            <input type="number" name="index" size="80"/>
        </li>
    </ul>
    <br />
    <button type="submit" class="btn-lg">Add News</button>
</form>










